body{
  font-size: 125%;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: white;
  font-family: 'Deacon Blues Super-Italic', sans-serif;
  
}

p{
  font-family: 'Fox on the Run', sans-serif;
  font-size: 1.5rem;
  color: white;
}

h2{
  font-size: 2.8rem;
}
.header{
  height: 14vh;
  padding-top: 1vh;
  padding-bottom: 8vh;
}


.two{
  font-family: 'Deacon Blues Super-Italic', sans-serif;
  position:relative;
  margin-bottom: -15vh;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 12vh;
}

.circle-drawing{
  padding: 10vh 0vw;
  font-family: 'Deacon Blues Super-Italic', sans-serif;
}

.animations{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.animations h3 {
  font-size: 1.25rem;
  color: white;
}

.animations a{
  text-decoration: none;
}

.contact{
  padding-bottom: 5vh;
  background-color: black;
}

#home{
  height: 100vh;
}

#contact{
  height: 90vh;
  padding-top: 15vh;
}

.contact h3{
  font-size: 1.6rem;
}

.description p{
  font-size: 4vh;
  padding: 0;
}

.projects{
  height: 80vh;
}

#projects-header{
  padding-top: 5vh;
  font-size: 12vh;
}

#projects h3{
  font-size: 1.5rem;
}

#bouncing-balls{
  color: white;
  font-family: 'Deacon Blues Super-Italic', sans-serif;
}

.show-link{
  display: block;
  color: white;
}
js w
a{
  display: none;
}

.icons{
  display: flex;
  justify-content: center;
}


.icon img{
  height: 6vh;
  margin: 1vh 3vw;
}

/* .moving-squares{
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px
} */



/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


@media screen and (max-width: 768px) {

 .App{
  max-width: 100vw;
 }

  .two{
    font-family: 'Deacon Blues Super-Italic', sans-serif;
    position:relative;
    margin-bottom: -15vh;

    color: white;
    font-size: 7vh
  }

  .animations{
    flex-direction: column;
  }

  .projects{
    height: auto;
  }
   /* .burger .animations .tennis .dog {
   width: 50vw
  } */

  #bouncing-balls{
   width: 10vw;
  }

  #projects-header{
    font-size: 8vh;
  }

  .description p{
    font-size: 3.5vh;
  }
}